*{
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

header{
    background-color: tomato;
    text-align: right;
}

header nav ul li {
display: inline-block;
padding: 10px;
}

#welcome-section {
    position: relative;
    height: 60vh;
    background-color: slateblue;
}

.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#projects{
    text-align: center;
    background-color: #45567d;
    padding: 0 25px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.project {
  position:relative;
   flex-basis: 30%;
   border:1px solid black;
}

.project img
{
 width:100%;
}

.project-name
{
   padding:20px 0;
}

.project-name h1
{
 font-size:15px;
}


footer
{
 background-color:#303841;
 display:flex;
 flex-direction: column;
 color:#fff;
}

.community
{
 flex-basis:45%;
 padding:100px 0;
 text-align:center;
}

.comminity-img
{
 flex-basis:55%;
 text-align:center;
 padding-bottom:50px;
}

.comminity-img li
{
 display:inline-block;
 padding:0 20px;
}

.creator
{
 border-top:5px solid tomato;
 text-align:right;
 padding:50px 0 10px 0;
 display:flex;
 justify-content: space-around;
}

.img-div{
    height: 200px;
}

.crop-img{
    object-fit: cover;
    object-position: center;
    height: 200px;
}

.foo {
    padding: 25px 0;
}

.btn{
    background-color: tomato;
    padding: 16px;
    display: inline-block;
    margin-bottom: 25px;
    color: white;
    border-radius: 10px;
}